@model Strona_do_rezerwacji_biletów.Models.EventCreate

@{
    ViewData["Title"] = "Dodawanie wydarzenia";
}

<h1>Dodawanie wydarzenia</h1>

<form class="col-3" method="post" action="/Events/Add" enctype="multipart/form-data">
    <label for="Title">Nazwa wydarzenia: </label>
    <input class="form-control mb-2" id="Title" name="Title" type="text" required />
    <label for="Description">Opis wydarzenia: </label>
    <textarea class="form-control mb-2" name="Description" required></textarea>
    <label for="Date">Data wydarzenia: </label>
    <input class="form-control mb-2" name="Date" type="date" required />
    <label for="Category">Kategoria: </label>
    <select class="form-control" name="Category" id="Category">
        <option value="Sport">Sport</option>
        <option value="Muzyka">Muzyka</option>
        <option value="Inne" selected>Inne</option>
    </select>
    <label for="Image" class="form-label"></label>
    <input class="form-control mb-2" name="Image" type="file" />
    <label for="AvailableNormalSeats">Dostępne bilety normalne: </label>
    <input class="form-control mb-2" name="AvailableNormalSeats" type="number" min="1" required />
    <label for="AvailableVIPSeats">Dostępne bilety VIP: </label>
    <input class="form-control mb-2" name="AvailableVIPSeats" type="number" default="0" />
    <button type="submit" class="btn btn-dark">Utworz</button>
</form>
