/* _content/Strona do rezerwacji biletów/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-88rsueg5wp] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-88rsueg5wp] {
  color: #0077cc;
}

.btn-primary[b-88rsueg5wp] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-88rsueg5wp], .nav-pills .show > .nav-link[b-88rsueg5wp] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-88rsueg5wp] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-88rsueg5wp] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-88rsueg5wp] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-88rsueg5wp] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-88rsueg5wp] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

h2[b-88rsueg5wp] {
    cursor: pointer; /* Zmienia kursor na "rękę" po najechaniu */
    transition: color 0.3s, background-color 0.3s; /* Płynna zmiana koloru i tła */
}

    h2:hover[b-88rsueg5wp] {
        color: #007BFF; /* Zmienia kolor tekstu na niebieski */
        background-color: #f1f1f1; /* Zmienia tło na jasnoszare */
    }

