<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SuperBilet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/custom.css" />
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        body {
            display: flex;
            flex-direction: column;
            font-family: 'Arial', sans-serif;
            background-color: #ffffff; /* Białe tło dla minimalistycznego wyglądu */
            color: #333333; /* Neutralny ciemnoszary kolor tekstu */
        }

        h2 {
            cursor: pointer;
            transition: color 0.3s, background-color 0.3s;
        }

            h2:hover {
                color: #555555; /* Delikatnie ciemniejszy szary podczas najechania */
                background-color: #f9f9f9; /* Subtelne szare tło */
            }

        main {
            flex: 1;
            min-height: 600px;
        }

        .navbar {
            background-color: #333333; /* Neutralny ciemnoszary kolor dla nagłówka */
        }

        .navbar-brand, .nav-link, .navbar-nav .nav-item a{
            color: #ffffff !important; /* Jasny kolor tekstu dla kontrastu */
        }

            .nav-link:hover, .navbar-nav .nav-item a:hover{
                color: #c7c7c7 !important; /* Akcentowy kolor na hover */
            }

        .hero-section {
            position: relative;
            height: 250px;
            width: 100%;
            /*overflow: hidden;*/ /* Ukrycie elementów poza sekcją */
        }

        .bg-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url("/images/background/background.jpg");
            background-position: center;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            filter: blur(8px); /* Rozmycie tylko obrazu tła */
            z-index: -1; /* Ustawienie za zawartością */
        }

        .bg-text {
            position: relative;
            z-index: 1; /* Wyświetlanie nad tłem */
            color: white; /* Kolor tekstu */
            text-align: center;
            padding: 40px 20px;
        }

        .bg-text h1{
                text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                font-weight: bold;
                font-size: 2.5rem;
                margin-bottom: 15px;
        }

        footer {
            background-color: #333333; /* Dopasowanie kolorystyki do nagłówka */
            color: #ffffff; /* Jasny tekst */
            text-align: center;
            padding: 15px 0;
            margin-top: auto;
        }

        footer a{
            font-weight: bold;
            color: #ffffff;
            text-decoration: underline;
        }

        footer a:hover {
            color: #c7c7c7;
            text-decoration: underline;
        }

        a {
            color: #6e6e6e;
        }

        a:hover {
            color: black;
        }

    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid ms-3 me-3">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><b>SuperBilet</b></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Wydarzenia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Events" asp-action="MyReservations">Moje rezerwacje</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="hero-section">
        <div class="bg-image"></div>
        <div class="bg-text">
            <h1>@ViewData["Title"]</h1>
            <p>Zarezerwuj swoje miejsce na najważniejszych wydarzeniach!</p>
        </div>
    </div>
    <div class="container">
        <main role="main" class="py-4">
            @RenderBody()
        </main>
    </div>
    <footer class="bg-dark">
        <p>&copy; 2024 Rezerwacja Biletów | <a asp-controller="Home" asp-action="Privacy">Polityka prywatności</a></p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
