@model IEnumerable<Strona_do_rezerwacji_biletów.Models.Event>

<h1>Events</h1>
<ul>
    @foreach (var ev in Model)
    {
        <li>
            <h3>@ev.Title</h3>
            <p>@ev.Description</p>
            <p>Category: @ev.Category</p>
            <p>Available Seats: @ev.AvailableSeats</p>
            <a href="/Events/Reserve/@ev.Id">Reserve</a>
        </li>
    }
</ul>
